<?xml version="1.0" encoding="utf-8" ?>
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="mode" value="week"/>
    <add key="yearlyInputFileName" value="C:\\path\\to\\input.file"/>
    <add key="yearlyOutputFileName" value="C:\\path\\to\\yearly\\output.file"/>
    <add key="weeklyOutputFileName" value="C:\\path\\to\\weekly\\output.file"/>
    <add key="baseUrl" value="https://www.somesite.com/projections"/>
    <add key="qbPath" value="/qb"/>
    <add key="rbPath" value="/rb"/>
    <add key="wrPath" value="/wr"/>
    <add key="tePath" value="/te"/>
    <add key="kPath" value="/k"/>
    <add key="defPath" value="/d"/>
  </appSettings>
</configuration>